# Terraform
/.terraform/terraform.tfstate
/.terraform/terraform.tfstate.backup
/plan.out
/.plan.*
*.DS_Store
*.publishsettings

# Keys
*.pem

# BOSH
*state.json
bosh-director.yml
concourse.yml
aws-cloud.yml
vars/cloud_vars_secrets.yml
vars/concourse_vars_secrets.yml
